[submodule "photos"]
	path = photos
	url = https://github.com/ChinesePrince07/andypandy-photos.git
[submodule "site"]
	path = site
	url = https://github.com/ChinesePrince07/andypandy-site.git
[submodule "suffield-drive"]
	path = suffield-drive
	url = https://github.com/ChinesePrince07/andypandy-suffield-drive.git
[submodule "desmos"]
	path = desmos
	url = https://github.com/ChinesePrince07/DesmosBezierRenderer-mac.git
[submodule "ti84"]
	path = ti84
	url = https://github.com/ChinesePrince07/TI-84-GPT-HACK.git
